<div class="row">
    <div class="twelve columns">
        <h2>
            Creatures
            <small class="u-pull-right">cheat summon <b>id</b></small>
        </h2>

        <hr>
            <label>Search creature by name</label>
            <input type="text" class="u-full-width" ng-model="creatures.query" focus />
        <hr>

        <table class="u-full-width">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="creature in creatures.creatures | filter: creatures.filter">
                    <td>
                        <div class="copy" contenteditable>
                            cheat summon {{ creature.id }}
                        </div>
                        {{ creature.id }}
                    </td>
                    <td>{{ creature.name }}</td>
                    <td>{{ creature.type }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
