<h2>
    Items
    <small class="u-pull-right">cheat giveitemnum <b>id</b> <b>quantity</b> <b>quality</b> false</small>
</h2>

<hr>

<div class="row">
    <div class="eight columns">
        <label>Search item by name</label>
        <input type="text" class="u-full-width"
            ng-model="items.query" focus />
    </div>
    <div class="two columns">
        <label>Quality</label>
        <input type="text" class="u-full-width"
            ng-model="items.quality" focus />
    </div>
    <div class="two columns">
        <label>Quantity</label>
        <input type="text" class="u-full-width"
            ng-model="items.quantity" focus />
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <div>
            <div class="u-pull-right">
                <a href="#" ng-click="items.enableAllTypes()">All</a>
                    |
                <a href="#" ng-click="items.disableAllTypes()">None</a>
            </div>

            <div class="types-list u-cf">
                <label class="u-pull-left"
                    ng-repeat="type in items.types">
                    <input type="checkbox" ng-model="type.active"> {{ type.name }}
                </label>
            </div>
        </div>

        <hr>

        <table class="u-full-width items-table">
            <thead>
                <tr>
                    <th>Preview</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Stack size</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items.items | filter: items.filter">
                    <td>
                        <copy-box text="cheat giveitemnum {{ item.id }} {{ items.quantity }} {{ items.quality }} false"></copy-box>
                        <img ng-src="{{ item.icon || 'http://placehold.it/60x60' }}" width="60">
                    </td>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.stack }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
