<h2>Maps</h2>

<div class="row">
    <div class="five columns">
        <h5>Cave locations</h5>
        <a href="/resources/maps/caves-map.jpg" target="_blank">
            <img src="/resources/maps/caves-map.jpg" class="thumbnail">
        </a>
    </div>

    <div class="one column">
        <br><br>
    </div>

    <div class="five columns">
        <h5>Spawn locations</h5>
        <a href="/resources/maps/spawn-map.png" target="_blank">
            <img src="/resources/maps/spawn-map.png" class="thumbnail">
        </a>
    </div>

</div>

<div class="row">
    <div class="five columns">
        <h5>Coordinates map</h5>
        <a href="http://jdimensional.com/ark-map/" target="_blank">
            http://jdimensional.com/ark-map
        </a>
    </div>
</div>
