<h2>
    Server
    <small class="u-pull-right">
        {{ server.status.info.HostName }}
    </small>
</h2>

<div class="row">
    <div class="four columns">
        <b>IP:</b> {{ server.status.info.Ip }}
    </div>
    <div class="three columns">
        <b>Players:</b> {{ server.status.info.Players }} / {{ server.status.info.MaxPlayers }}
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <table class="u-full-width">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Online since</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in server.status.players">
                    <td>{{ player.Name }}</td>
                    <td>{{ server.formatDuration(player.Time) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
